<div class="row">
  <div class="col-md-12">
    <h3>Admission</h3>
    <p-table [value]="admissions">
      <ng-template pTemplate="header">
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Term/Month</th>
              <th>Program</th>
              <th>Batch/Plan</th>
              <th>Admission Date</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-admission>
          <tr>
              <td>{{admission.firstName}}</td>
              <td>{{admission.lastName}}</td>
              <td>{{admission.age}}</td>
              <td>{{admission.term_month}}</td>
              <td>{{admission.program}}</td>
              <td>{{admission.batch_plan}}</td>
              <td>{{admission.admissionDate}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>