<div class="row">
  <div class="col-md-12">
    <h3>Admission</h3>
    <p-table #dt [value]="admissions" selectionMode="single" [(selection)]="selectedAdmission"
    [rows]='5' [paginator]='true' [rowsPerPageOptions]='[5,10,50]' [totalRecords]='totalRecords'>          
    <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="col.field"  *ngFor="let col of admissionColumns">{{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>            
          </tr>
          <tr>             
            <td *ngFor="let col of admissionColumns">
                <input type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                     
            </td>            
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-admission>
          <tr [pSelectableRow]="admission">
              <td>{{admission.firstName}}</td>
              <td>{{admission.lastName}}</td>
              <td>{{admission.age}}</td>
              <td>{{admission.termMonth}}</td>
              <td>{{admission.program.value}}</td>
              <td>{{admission.batchPlan}}</td>
              <td>{{admission.admissionDate}}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div style="text-align: left">
              Selected Admission: {{selectedAdmission ? selectedAdmission.firstName + ' - ' + selectedAdmission.lastName : 'none'}}
          </div>
      </ng-template>
  </p-table> 
<div>
    
    <ul>
        <li *ngFor="let admission of admissions">{{admission.firstName}}</li>
    </ul>
</div>
  <br>
  <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" type="button" (click)="onNew()">New Admission</button>
        &nbsp; &nbsp;
        <button class="btn btn-primary" type="button" (click)="onEdit()">Edit Selected</button>  
        &nbsp; &nbsp;
        <button class="btn btn-primary" type="button" (click)="onDelete()">Delete Selected</button>        
      </div>
    </div>
  </div>
</div>